@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 0;
}

.logo{
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.logo > .logo__text{
  font-family: Nunito;
  font-size: 0.97131rem;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 0.97131rem */
  text-transform: uppercase;
  background: var(--brand-color, linear-gradient(47deg, #0A6FCC -44.41%, rgba(59, 237, 77, 0.75) 124.33%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__menu{
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}

.header__menu > .header__menu__item{
  color: var(--wh, #FFF);
  /* 16 med */
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 1.4rem */
}

.header__menu > .header__menu__item:hover{
  background: var(--brand-color, linear-gradient(47deg, #0A6FCC -44.41%, rgba(59, 237, 77, 0.75) 124.33%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.header__buttons{
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}

.header__buttons > .header__buttons__item:hover > svg{
  cursor: pointer;
  transition: all 0.4s ease;
  fill: black;
}

.header__buttons > .language__switch{
  width: 74px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1.25rem;
  border-radius: 18px;
  border: 1px solid var(--brand-color, #0A6FCC);
  background: var(--bl, #011624);
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.header__buttons > .language__switch > input{
  appearance: none;
}

.header__buttons > .language__switch > span{
  font-size: .9rem;
  color: #fff;
  position:relative;
  z-index: 20;
}

.header__buttons > .language__switch > span.ru{
  right: 10.5px;
}

.header__buttons > .language__switch > span.en{
  right: 7.5px;
}

.header__buttons > .language__switch > .circle{
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: linear-gradient(47deg, #0A6FCC -44.41%, #3BED4D 124.33%);
  position: absolute;
  top: -4px;
  left: 0;
  z-index: 10;
  transition: all 0.4s ease-in-out;
}

.header__buttons > .language__switch > input:checked ~ .circle{
  transform: translateX(36px);
}
